# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
node_modules
.idea
/client/components/angular/angular.js
/client/components/angular/angular.min.js.gzip
/client/components/angular/angular.min.js.map
/client/components/angular/angular-csp.css
/client/components/angular/bower.json
/client/components/angular/README.md
/client/components/angular/.bower.json
/client/components/angular-cookies/angular-cookies.js
/client/components/angular-cookies/angular-cookies.min.js.map
/client/components/angular-cookies/bower.json
/client/components/angular-cookies/README.md
/client/components/angular-cookies/.bower.json
/client/components/angular-mocks/.bower.json
/client/components/angular-mocks/bower.json
/client/components/angular-mocks/README.md
/client/components/angular-ui-router/README.md
/client/components/angular-ui-router/site
/client/components/angular-ui-router/src
/client/components/angular-ui-router/.bower.json
/client/components/angular-ui-router/bower.json
/client/components/angular-ui-router/CHANGELOG.md
/client/components/angular-ui-router/files.js
/client/components/angular-ui-router/Gruntfile.js
/client/components/angular-ui-router/LICENSE
/client/components/angular-ui-router/site
/client/components/angular-ui-router/src
/client/components/angular-ui-router/.bower.json
/client/components/angular-ui-router/bower.json
/client/components/angular-ui-router/CHANGELOG.md
/client/components/angular-ui-router/files.js
/client/components/angular-ui-router/Gruntfile.js
/client/components/angular-ui-router/LICENSE
/client/components/angular-ui-router/README.md
/client/components/angular-translate/bower.json
/client/components/angular-translate/README.md
/client/components/angular-translate/.bower.json
/client/components/bootstrap/README.md
/client/components/bootstrap/fonts
/client/components/bootstrap/grunt
/client/components/bootstrap/js
/client/components/bootstrap/less
/client/components/bootstrap/test-infra
/client/components/bootstrap/.bower.json
/client/components/bootstrap/bower.json
/client/components/bootstrap/Gruntfile.js
/client/components/bootstrap/LICENSE
/client/components/bootstrap/package.json
/client/components/font-awesome/README.md
/client/components/font-awesome/less
/client/components/font-awesome/scss
/client/components/font-awesome/src
/client/components/font-awesome/.bower.json
/client/components/font-awesome/.gitignore
/client/components/font-awesome/_config.yml
/client/components/font-awesome/component.json
/client/components/font-awesome/composer.json
/client/components/font-awesome/CONTRIBUTING.md
/client/components/font-awesome/Gemfile
/client/components/font-awesome/Gemfile.lock
/client/components/font-awesome/package.json
/client/components/jquery/MIT-LICENSE.txt
/client/components/jquery/src
/client/components/jquery/.bower.json
/client/components/jquery/bower.json
