//
   Created by Jakub on 2014-08-12.

h1 {{ 'ARTICLE_LIST' | translate }}

div(data-ng-repeat="article in articles")
    h3 {{ article.title }}
    p {{ article.user_name }}
    p {{ article.description }}
    div(ng-bind-html = "article.content")
    hr