.container
    .row
        .col-md-4
            div.list-group(data-ng-controller='NavCtrl')
                .list-group-item
                    strong Menu
                a.list-group-item(href='/private', active-nav) My account details
                a.list-group-item(href='/private/articleList', active-nav) Article list
                a.list-group-item(href='/private/articleDetails', active-nav) Article details
                a.list-group-item(href='/private/admin', active-nav, data-access-level='accessLevels.admin') A nested admin view
        .col-md-6(data-ui-view)