h1 My account details
div(data-ng-controller='UserCtrl')
    p Here you can edit details about your account -
    //p Username: {{user.username}}
    //p Role: {{user.role.title}}

    //form(method="POST", action="/user_uploads", enctype="multipart/form-data")
    //    input(type="file", name="file")
    //    button.btn(type="submit") Save image

    form.form-horizontal(action="/user_update", ng-upload="updateUser(contents)", role="form")
        .form-group
            label.control-label.col-sm-2(for="user") Avatar
            .col-sm-10
                input.form-control(type="file", name ="avatar" required)
        .form-group
            label.control-label.col-sm-2(for="user") Description
            .col-sm-10
                input.form-control(type="textarea", data-ng-model="user.description", placeholder="Description", name="description", rows="3", required, data-ng-minlength="1", autofocus)
        .form-group
            label.control-label.col-sm-2(for="user") Username
            .col-sm-10
                input.form-control(type="text", ng-model="username", placeholder="Username", name="username", required, data-ng-minlength="1", autofocus)
        .form-group
            .controls
                button.btn(type="submit", value="Upload", data-ng-disabled="registerForm.$invalid") Update user
    hr


div(data-ng-controller='ArticleCtrl' ng-init='findAllArticlesOfLoggedInUser()')
    //a(ng-click = 'findAllArticlesOfLoggedInUser()') Załaduj listę artykułów
    p List of articles
    div(data-ng-repeat="article in articles")
        h3 {{ article.title }}
        p {{ article.description }}
        div(ng-bind-html = "article.content")
        hr